.coin-main{
    display: flex;
    justify-content: center;
    .coin-first{
        display: flex;
        flex-basis: 80%;
        flex-wrap: wrap;
        background-color: rgb(40,40,40);
        border-radius: 30px;
        margin: 10px 0 10px 0;
        div{
            display: flex;
            flex-basis: 100%;
            margin-left: 5%;
            color: white;
        }
        .coin-name{
            font-size: 30px;
            align-items: center;
            img{
                margin-right: 10px;
            }
        }
        .coin-price{
            font-size: 40px;
            font-weight: 600;
        }
        .coin-rank{
            p{
                background-color: rgb(60,60,60);
                border-radius: 20px;
                margin: 5px 0px 5px 0px;
                padding: 5px 10px 5px 10px;
            }
            
        }
    }
}
