#loginform{
    z-index: 1000;
    position: fixed;
    left: 35%;
    top: 7.5%;
    width: 30%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    #form{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        #marg{
            margin-top: 10%;
            width: 70%;
            display: flex;
            justify-content: center;
            
            flex-wrap: wrap;
            h1{
                font-weight: 500;
            }
            h2{
                font-weight: 400;
                font-size: 18px;
                color: rgb(158, 169, 184);
                margin-top: 5px;
            }
            #divide{
                display: flex;
                flex-basis: 100%;
                align-items: center;
                justify-content: center;
                h2{
                    font-size: 17px;
                    font-weight: 400;
                    color: rgb(70, 76, 83);
                    margin-left: 10px;
                    margin-right: 10px;
                }
                 hr{
                height: 2px;
                color: black;
                flex-basis: 45%;
                text-decoration: none;
                outline: none;
                box-shadow: none;
                border-radius: 10px;
                background-color: rgb(219, 223, 228);
                border: none;
            }
            }
           
            button{
                    flex-basis: 100%;
                    height: 60px;
                    border-radius: 13px;
                    margin-top: 20px;
                    background-color: rgb(50, 62, 226);
                    border: none;
                    color: white;
                    font-size: 20px;
                }
                button:hover{
                    cursor: pointer;
                }
                .sin-btn{
                    display: flex;
                    margin-bottom: 10px;
                    flex-basis: 100%;
                    border-radius: 13px;
                    height: 60px;
                    border:solid rgb(219, 223, 228) 2px;
                    font-size: 18px;
                    color: rgb(70, 76, 83);
                    font-weight: 400;
                    background-color: white;
                    color: black;
                    justify-content: start;
                    align-items: center;
                    .icon-btn{
                        margin-left: 15%;
                        margin-right: 10px;
                    }
                }
            .pole{
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                flex-basis: 100%;
                
                p{
                    flex-basis: 100%;
                    font-size: 15px;
                    color: rgb(70, 76, 83)
                }
                
                input{
                    outline: none;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-bottom: 10px;
                    flex-basis: 100%;
                    border-radius: 13px;
                    height: 60px;
                    border:solid rgb(219, 223, 228) 2px;
                    font-size: 18px;
                    color: rgb(70, 76, 83);
                    font-weight: 400;
                }
                input:focus{
                    outline: none;
                }
                input::placeholder{
                    color: rgb(203, 207, 211);
                }
                #pass-cont{
                    display: flex;
                    flex-basis: 100%;
                    justify-content: end;
                    #pass{
                    flex-basis: content;
                    justify-self: end;
                }
                #pass:hover{
                    cursor: pointer;
                }
                }
                

            }
        }

    }
}
#back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1000;
}
