/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', 'Arial';
    #menu{
        display: flex;
        flex-basis: content;
        margin-top: 4vh;
        list-style: none;
        align-items: center;
        margin-right: 20px;
        ul{
            display: flex;
            border: 1px solid black;
            border-radius: 50px;
            justify-content: center;
            li:first-child{
                margin: 15px 40px 15px 80px;
            }
            li:last-child{
                margin: 15px 80px 15px 40px;
            }
            li{
                display: inline;
                margin: 15px 40px 15px 40px;
                a{

                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                }
            }
    }

        
    }
    #menu-left{
        margin-top: 4vh;
        flex-basis: 25%;
        display: flex;
        justify-content: space-between;
        #search-bar-container{
            border: 1px solid black;
            display: flex;
            align-items: center;
            border-radius: 100px;
            flex-basis: 60px;
            overflow: hidden;
            transition: 1s;
            justify-content: start;
            flex-wrap: nowrap;
            #search-icon-container{
                display: flex;
                align-items: center;
                flex-basis: 60px;
                height: 100%;
                cursor: pointer;
            #search-icon-container:hover{
                cursor: pointer;
            }
                #s-icon{
                    margin-left: 15px;
                    margin-right: 20px;
                    display: flex;
                    flex-basis: 60px;
                    height: 25px;
            }
            
            }
            #search-bar{
                display: flex;
                flex-basis: 200px;
                text-decoration: none;
                font-size: 100%;
                height: 100%;
                border: none;
                outline: none;
                width: 75%;
                list-style: none;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
                
                #search-text{
                    width: 100%;
                    height: 100%;
                   
                } 
                
            }
        }

    #sign-btn{
        flex-basis: 15%;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        div{
            border: 1px solid black;
            border-radius: 50px;
            height: 100%;
            width: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            a{
                text-decoration: none;
                color: black;
                font-weight: 700;
            }
        }
        div:hover{
            cursor: pointer;
        }

    }
}
    #logo{
        flex-basis: 15%;
        border: 1px solid black;
        border-radius: 50px;
    }

}